@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">@AppFunkoPop.Resources.Shared.error</h1>
<h2 class="text-danger">@AppFunkoPop.Resources.Shared.errorSolicitud</h2>

