@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="text-danger">@AppFunkoPop.Resources.Shared.bloqueado</h1>
    <h2 class="text-danger">@AppFunkoPop.Resources.Shared.cuentaBloqueada</h2>
</hgroup>
