
@{
    ViewBag.Title = "Contacto";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle del Padre Claret, 8, 28002 Madrid <br />
    Madird, 28002<br />
    <br />
    <p title="Phone">Teléfono:</p>
    915 19 52 57
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
   
<!-- Codigo para listado de pedidos


    -->
