@model AppFunkoPop.Models.USUARIO
@{
    ViewBag.Title = "Registrarse";
}

<h2 style="padding-left:100px;">@ViewBag.Title.</h2>




<div>


    <div class="row" style="padding-bottom: 15px; padding-left:100px;">
        <div class="col-sm-9">

            <h4>Cree una cuenta nueva.</h4>
            <hr />
            @*@using (Html.BeginForm("CrearUsuario", "Account", FormMethod.Post))
            {
                Html.EditorForModel();
                <input type="submit" name="enviar" value="enviar" />
            }*@
            <form action="CrearUsuario" method="post">
                <label>Nombre: <input type="text" name="nombre" value="" /></label></br>
                <label>Apellidos: <input type="text" name="apellidos" value="" /></label></br>
                <label>Email: <input type="text" name="email" value="" /></label></br>
                <label>Password: <input type="text" name="passwd" value="" /></label></br>
                <label>Teléfono: <input type="text" name="telefono" value="" /></label></br>
                <label>Dirección: <input type="text" name="direccion" value="" /></label></br>
                <label>Ciudad: <input type="text" name="ciudad" value="" /></label></br>
                <label>País: <input type="text" name="pais" value="" /></label></br>
                <label>Codigo Postal: <input type="text" name="cp" value="" /></label></br>

                <input type="submit" name="enviar" value="enviar" />

            </form>
            @Html.ValidationSummary()

        </div>
    </div>



