@model AppFunkoPop.Models.PRODUCTO

@{
    ViewBag.Title = "Productos";

}


<h2>Nombre</h2>


<div class="row">

    <hr />
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-2">
            <img src="~/Content/images/got/arya1.jpg" class="col-xs-2 col-sm-2 col-md-12" />
            <img src="~/Content/images/got/arya2.png" class="col-xs-2 col-sm-2 col-md-12" />

        </div>
        <div class="col-sm-12 col-md-6">
            <img src="~/Content/images/got/arya1.jpg" class="col-xs-12 col-sm-12 col-md-12" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <p>
                Descripción del producto:
                Aqui iria el texto de los txt de las descripciones
            </p>
            <h3>11,50€</h3>
            <form>
                <div class="form-group">

                    <label for="unidades">Unidades: </label>
                    <input type="number" class="form-control" id="unidades" width="20">


                </div>
                <button type="submit" class="btn btn-default">Añadir al  carrito</button>
            </form>
        </div>


    </div>

</div>


<div class="row">
    <a href="~/Producto/NuevoProducto">Nuevo</a>
</div>

