
@{
    ViewBag.Title = "Carrito Vacio";
}

<h2>¡Su carrito todavia está vacío!</h2>

<p> Pruebe a introducir algunos productos y vuelva para realizar su compra.</p>

<a href="javascript:history.go(-1)" class="btn btn-primary col-xs-2 col-sm-2 col-md-2" role="button">@AppFunkoPop.Resources.Admin.volver</a>